
/* App Z-Index Layers */

#overlay {   /*Fixed position*/
  z-index: -1;
}

#menu {   /*Absolute position*/
  z-index: 3;
}

#menu_button {    /*Absolute position*/
  z-index: 4;
}

#reset {
  z-index: 4;
}

#reset_confirm, #reset_cancel {   /*Absolute position*/
  z-index: 4;
}

/* Layout Setup */

body, main, span, nav, #menu, #menu_button, #menu_header, #menu_contents, #reset_confirm, #reset_cancel {
  display: flex;
  display: -webkit-flex;
}   /* Flexbox Setup */

body, main, span, #menu_button {
  margin: 0;
	justify-content: space-around;
	-webkit-justify-content: space-around;
}

body, main div, #menu, #menu_button, #menu_contents {
	flex-direction: column;
	-webkit-flex-direction: column;
}

body {
  /* position: fixed; */
  /* height: 100%; */
  /* width: 100%; */
}

span, nav {
	align-items: center;
	-webkit-align-items: center;
}

nav {
	height: 18vh;
}

main div {
	flex: 1;
	-webkit-flex: 1;
	align-items: center;
	-webkit-align-items: center;
}

span {
	flex: 1;
	-webkit-flex: 1;
	width: 100%;
	justify-content: center;
	-webkit-justify-content: center;
}

span p {
	width: 3.5em;
}

#menu {
	position: absolute;
	width: 52%;
	height: 100%;
	left: -53%;
}

#menu_button {
	position: absolute;
	left: 1em;
	top: 1.85em;
}

#menu_header {
	height: 18vh;
	align-items: center;
	-webkit-align-items: center;
}

#menu_contents {
	padding: 0.75em;
}

#menu_contents span {
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
}

#total {
	flex: 1;
	-webkit-flex: 1;
}

#reset {
  position: absolute;
  top: -0.25em;
  right: 0.5em;
}

/* Fonts, Sizes & Percentages */

body {
  font: 3.5vh "Avenir-Book";
  text-align: center;
}

#output {
 font-size: 3em;
}

#menu_header {
  font-family: "MarkerFelt-Wide";
}

#menu_contents {
  font-weight: normal;
  font-size: 0.75em;
}

#reset {
	font-size: 2em;
}

#reset_confirm, #reset_cancel {
  font-size: 1.25em;
}

nav, .plus, .minus {
  font-weight: bold;
}

.plus, .minus {
  font-size: 1.5em;
  line-height: 1.6;
}

/* Colors */

.minus, .plus, nav {
	background-color: rgb(60,179,113);
	color: white;
}

.minus {
 background-color: rgb(157,161,255);
}

#menu {
	background-color: white;
	box-shadow: 2px 0 10px #565656;
}

#menu_header {
  background-color: rgb(157,161,255);
}

#menu_contents {
  color: #252525;
}

#reset_confirm {
  background-color: rgb(60,179,113); /*Green*/
}

#reset_cancel {
  background-color: rgb(157,161,255); /*Purple*/
}

/* Other Styles & Effects */

#menu, #menu_button {
	transition: left 0.5s;
	-webkit-transition: left 0.5s;
}

/* Items */

#overlay {
  position: fixed;
  background-color: black;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.menu_bar {
 border: solid white 0.5vh;
 border-radius: 10px;
 width: 6.5vh;
 margin: 0.5vh 0;
}

.v_divider {
	height: vh; /* BROKEN */
	width: 0;
	flex: 0;
	-webkit-flex: 0;
	align-self: center;
	-webkit-align-self: center;
	border: solid #D3D3D3 1px;
}    /* TO DO */

.minus, .plus {
	border-radius: 15px;
	width: 2em;
	margin: 0;
}

#logo {
	width: 1.5em;
	height: 1.5em;
	border: solid 3px rgb(60,179,113);
	border-radius: 25px;
	border-top-color: rgb(157,161,255);
	border-left-color: rgb(157,161,255);
	box-shadow: 0px 0px 5px #333;
	margin-left: 0.6em;
	background-color: #FFFFFF;
}

#logo p {
	display: inline;
	position: relative;
	-webkit-text-stroke: 1px rgb(182,198,214);
	color: rgb(255,255,240);
}

#f1 {
	text-shadow: 0px 1px 5px rgb(60,179,113);
}

#f2 {
	top: 15%;
	text-shadow: 0px 1px 5px rgb(157,161,255);
}

#reset_confirm, #reset_cancel {
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  width: 2em;
  height: 2em;
  border: solid white 5px;
  border-radius: 100%;
  padding: 0.3em;
  position: absolute;
  right: 1em;
  top: -25%;
  box-shadow: 0 0 10px #333;
  transition: top 0.5s;
  -webkit-transition: top 0.5s;
}

